<template>
  <div id="app">
    <form @submit.prevent="submitForm" class="select-food-form">
      <base-radio-button-group 
        name="group-1"
        :items="items[0]"
        @change="selectedItemInGroup1 = $event.target.value"
      ></base-radio-button-group>

      <base-radio-button-group
        name="group-2"
        :disabled="isGroup2Disabled"
        :disabledItems="incompatibleFoods"
        :items="this.items[1]"
        @change="selectedItemInGroup2 = $event.target.value"
      ></base-radio-button-group>

      <base-radio-button-group
        name="group-3"
        :disabled="isGroup3Disabled"
        :items="this.items[2]"
        :disabledItems="incompatibleFoods"
        @change="selectedItemInGroup3 = $event.target.value"
      ></base-radio-button-group>
      <input type="submit" value="Submit" :disabled="disableButton">
    </form>
  </div>
</template>

<script>
import BaseRadioButtonGroup from './components/BaseRadioButtonGroup.vue'

export default {
  name: 'App',
  components: {
    BaseRadioButtonGroup,
  },
  data() {
    return {
      selectedItemInGroup1: '',
      selectedItemInGroup2: '',
      selectedItemInGroup3: '',
      items: [
        // first group of radio-buttons
        [
          { id: '101', value: 'Vegetarian' },
          { id: '102', value: 'Nut allergy' },
          { id: '103', value: 'Halal' }
        ],
        // second group of radio-buttons
        [
          { id: '201', value: 'Cashew chicken' },
          { id: '202', value: 'Sweet and sour pork' },
          { id: '203', value: 'Stir fried Tofu' },
          { id: '204', value: 'Vegetable fried rice' },
          { id: '205', value: 'Pad Thai' },
          { id: '206', value: 'Massaman beef' },
        ],
        // third group of radio-buttons
        [
          { id: '301', value: 'Peanut sauce' },
          { id: '302', value: 'Oyster sauce' },
          { id: '303', value: 'Vegetable spring rolls' },
          { id: '304', value: 'Steamed rice' },
        ],
      ],
      foodIncompatability: {
        // 'Vegetarian' is NOT compatible with 'Cashew chicken', 'Sweet and sour pork', 'Massaman beef', 'Oyster sauce'
        101: [201, 202, 206, 302],
        // 'Nut allergy' is NOT compatible with 'Cashew chicken', 'Peanut sauce',
        102: [201, 301],
        // 'Halal' is NOT compatible with 'Sweet and sour pork',
        103: [202], 
        // 'Vegetable fried rice' is NOT compatible with 'Steamed rice' (you don't need more rice... carb overload),
        204: [304],
        // 'Pad thai' is NOT compatible with 'Steamed rice' (Pad thai comes with noodles),
        205: [304],
      }
    }
  },
  computed: {
    incompatibleFoods() {
      return this.incompatibleFoodsInGroup2.concat(this.incompatibleFoodsInGroup3)
    },
    incompatibleFoodsInGroup2() {
      const incompatibleFoods = this.getIncompatibleFoodsFor(this.selectedItemInGroup1)
      if (!this.selectedItemInGroup1 || !incompatibleFoods) {
        return []
      }
      return incompatibleFoods
    },
    incompatibleFoodsInGroup3(incompatibityId, foodId) {
      const incompatibleFoods = this.getIncompatibleFoodsFor(this.selectedItemInGroup2)
      if (!this.selectedItemInGroup2 || !incompatibleFoods) {
        return []
      }
      return incompatibleFoods
    },
    disableButton() {
      return !(this.selectedItemInGroup1 &&
        this.selectedItemInGroup2 &&
        this.selectedItemInGroup3) ||
        this.ifASelectedItemIsDisabled()
    },
    isGroup2Disabled() {
      return this.selectedItemInGroup1 ? false:true
    },
    isGroup3Disabled() {
      return this.selectedItemInGroup2 ? false:true
    }
  },
  methods: {
    ifASelectedItemIsDisabled() {
      return this.incompatibleFoodsInGroup2.includes(parseInt(this.selectedItemInGroup2)) ||
        this.incompatibleFoodsInGroup3.includes(parseInt(this.selectedItemInGroup3))
    },
    getIncompatibleFoodsFor(id) {
      if(!id || !this.foodIncompatability.hasOwnProperty(id)) {
        return []
      }
      return this.foodIncompatability[id]
    },
    submitForm() {
      if(window.confirm('Form submitted successfully! Hire me.=)')) {
        alert("Thank you so much! =)")
        window.location.href="https://www.linkedin.com/in/cristian-cardi%C3%B1o/"
        return
      }
      alert("=(")
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.select-food-form {
  width: 300px;
	height: 450px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
</style>
